# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Matlab related
*.asv
*.mat

*.csv
.vscode/
build/
data/
data_safecopy/
Examples/Kinova/SystemIdentification/ExcitingTrajectories/data/

*.zip
docker/pardiso/
HSL/

Examples/Digit/singlestep_optimization_settings.yaml
Examples/Digit-modified/singlestep_optimization_settings.yaml

test_nanobind_planner.py

backup/

*.png
*.lic
*.tar
*.tar.bz2